body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
}


.calc-buttons {
    display: flex;
    flex-direction: column;
}

.row-0,
.row-1,
.row-2,
.row-3,
.row-4 {
    display: flex;
}


button {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
    width: 25%;
}


.button-zero {
    width: 50%;
}