body {
    font-family: monospace;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
}

.calc-container {
    background-color: black;
    border: 10px solid rgba(47, 47, 47, 1);
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    /* gap: 2px; */
    font-family: monospace;
    font-size: 2rem;
    border-radius: 3px;

}

.display-input {
    align-self: center;
    text-align: right;
    margin: 0.5rem;
    grid-column: 1/ -1;
    background-color: #b2b9b7;
    padding: 0rem 0.5rem;
    font-size: 3.5rem;
    text-shadow: 1.2px 1.2px #383838;
    /* border: 10px solid rgba(47, 47, 47, 1); */
    /* margin: 5px; */
}

.equals {
    grid-column: span 2;
}

.button-operator,
.equals {
    background-color: orange;
}


.button-number,
.button-decimal {
    background-color: rgb(3, 142, 3);
}

.button-function {
    background-color: #0096FF;
}

button {
    margin: 1px;
    border: 1px solid black;
}

/* .calc-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid black;
    padding: 8px;
} */